<h2> CGPA Calculator</h2>
<form (ngSubmit)="calculateCGPA()">
    <div *ngFor="let subject of subjects;let i=index">
        <label for="grade{{i}}" >Subject{{i+1}} Grade: </label>
        <input type="number" id="grade{{i}}" [(ngModel)]="subject.grade" name="grade{{i}}" required>

        <label for="credit{{i}}" >Subject{{i+1}} Credit: </label>
        <input type="number" id="credit{{i}}" [(ngModel)]="subject.credit" name="credit{{i}}" required>

        <button type="button" (click)="addSubject()">Add Subject</button>
        <button type="submit">Calculate CGPA</button>
    </div>
</form>

<h3 *ngIf="cgpa !== null">Your CGPA: {{cgpa}}</h3>
